
fastapi==0.95.0
uvicorn==0.21.1
python-multipart==0.0.6
supabase==1.0.3
pandas==1.5.3
numpy==1.24.2
scikit-learn==1.2.2
prophet==1.1.4
statsmodels==0.13.5
matplotlib==3.7.1
seaborn==0.12.2
python-dotenv==0.21.1
scipy==1.12.0
xgboost==2.0.1
tensorflow==2.15.0; platform_machine != "arm64"
